.navbar {
  background-color: #a63a50;
  width: 100%;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.navbar h2 {
  margin: 0;
  margin-left: 40px;
  font-weight: 700;
  font-size: 25px;
  color: #ebebeb;
}

.navbar button {
  all: unset;
  color: #ebebeb;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  margin-right: 40px;
}

.navbar button:hover {
  color: #b8b8b8;
}

.navbar img {
  height: 100px;
  margin: 0;
  margin-left: 35px;
}

#powered {
  font-size: 10px;
  font-weight: normal;
}

.logout-icon {
  font-size: 30px;
  vertical-align: middle;
}
