.container-options {
  margin-top: 150px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-options-buttons {
  margin-right: 40px;
}

.container-options p {
  font-size: 22px;
  color: #333;
  margin-left: 40px;
}

.btn-create {
  all: unset;
  background-color: #a63a50;
  color: white;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  margin-right: 20px;
  transition: 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
  text-align: center;
}
.btn-create:hover {
  background-color: #922d3c;
}

.btn-search {
  all: unset;
  padding: 20px 30px;
  background-color: #a63a50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  transition: 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.btn-search:hover {
  background-color: #922d3c;
}

.icon-search,
.icon-create {
  margin-right: 5px;
  vertical-align: middle;
  font-size: 20px;
}

@media screen and (max-width: 1250px) {
  .container-options button {
    max-width: 100px;
    height: auto;
  }
  .container-options span {
    font-size: 12px;
  }
}

@media screen and (max-width: 1030px) {
  .container-options {
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    margin-top: 100px;
  }
  .container-options-buttons {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 900px) {
  .container-options-buttons button {
    all: unset;
    background-color: #922d3c;
    padding: 20px;
    border-radius: 400px;
  }

  .container-options p {
    margin-left: 0;
  }

  .container-options-buttons {
    margin: 0 10px;
  }

  .container-options-buttons span {
    display: none;
  }

  .btn-create button {
    margin-right: 200px;
  }

  .icon-search,
  .icon-create {
    color: white;
    font-size: 30px;
  }

  .container-options-buttons .btn-search {
    margin-left: 10px;
  }
}
